node_modules/
.wa-session/
.baileys-auth/
state.json
config.json
clients.json
clients.csv
messages.json
blocklist.txt
report.csv
pausa
*.log
.DS_Store

# managed by open-wa
**.data.json
**.node-persist**
**_IGNORE_**
# end managed by open-wa
